body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(../img/download.jfif);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #matrixContainer {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff75;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h4 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  #matrixInput {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  textarea {
    resize: vertical;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  #rotatedMatrix {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    font-family: monospace;
    white-space: pre-wrap;
  }
  
  .matrixTable {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    width: 100%;
  }
  
  .matrixTable td {
    border: 1px solid #ccc;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
  }